a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}
.navList {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
  padding: 0;
}
.navList li {
  margin: 0 15px;
}
button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
}

/*  */
.mainImage {
  display: flex;
  justify-content: center;
}

.mainBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.getTickets {
  text-align: center;
  width: 380px;
  height: 180px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.speaker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 239, 239);
  width: 720px;
  height: 90px;
  padding: 0 40px;
}
.speakerInfo {
  display: flex;
  justify-content: flex-start;
}
.speaker img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 20px;
}
.speaker button {
  width: 100px;
  height: 40px;
}

#dateAndTime {
  margin-top: 40px;
}

#location {
  margin-top: 40px;
}

#location {
  margin-top: 40px;
}

#agenda {
  margin-top: 40px;
}
#agenda .agendaWelcome {
  background-color: #fff7f6;
  width: 720px;
  height: 170px;
  padding: 10px 24px;
}
#agenda .agendaNetworking {
  background-color: #F5F6F9;
  width: 720px;
  height: 170px;
  padding: 10px 24px;
}
#agenda .agendaPresentations {
  background-color: #F5F9F7;
  width: 720px;
  height: 170px;
  padding: 10px 24px;
}
#agenda .agendaFinalNetworking {
  background-color: #FFF7FA;
  width: 720px;
  height: 170px;
  padding: 10px 24px;
}