a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}
.navList {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
  padding: 0;
}
.navList li {
  margin: 0 15px;
}
button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
}

/*  */
.mainImage {
  display: flex;
  justify-content: center;
}
